@charset "UTF-8";

body {
	font-family: Verdana;
	font-size: 13px;
	color: #545454;
	max-width: 1024px;
	min-width: 800px;
	padding-left: 10%;
	padding-right: 10%;
	margin:0 auto;
}

div {
	margin: 0 auto;
}

h1 {
	font-family: Verdana;
	font-weight: bold;
}
h2 {
	font-family: Verdana;
	font-weight: bold;
	font-size: 15px;
	color: #006699;
}


nav {
	background-color: #ffffff;
	height: 20px;
	margin: 0;
	width: 80;
}
nav a {
	text-decoration: none;
	padding: 10px 20px 10px 20px;
	background-color: #ffffff;
	height: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 16px
}


nav a:hover {
	background: #dadada;
}

.davidxu {
	text-align: center;
	font-size: 48px;
	font-family: Trajan;
	font-style: bold;
	color: #000000;
	padding: 60px

}

.navbar {
	text-align: center;
	padding: 5px;
}

.margins {

}

.boxright {
	overflow:auto;
}

.boxleft {
	overflow:auto;
}

.boxright img {
	float: right;
	padding: 10px;
    max-width: 25%;
    max-height: auto;
}

.boxright iframe {
	float: right;
	padding: 10px;
    max-width: 25%;
    max-height: auto;
}

.wider {
	float: right;
	padding: 10px;
    max-width: 35%;
    min-width: 35%;
    max-height: auto;
}

.narrower {
	float: right;
	padding: 10px;
    max-width: 20%;
    min-width: 20%;
    max-height: auto;
}

.boxleft img {
	float: left;
	padding: 10px;
    max-width: 25%;
    max-height: auto;
}
.boxleft iframe {
	float: left;
	padding: 10px;
    max-width: 25%;
    max-height: auto;
}

.container {
   padding-bottom: 50px;
}

.container a {
	font-size: 13px;
	color: #336699;
}

.container a:link {
	text-decoration: none;
	font-weight:bold;
}

.container a:hover {
	text-decoration: none;
	font-weight:bold;
	color: #000000;
}
.container a:visited {
	color: #8C489F;
}

.boxright p {
	text-indent: 50px;
}
.boxleft p {
	text-indent: 50px;
}

